

.form {
  margin: 0.3rem 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    padding: 0.4rem;
    margin: 0 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
  }
  .btn {
    padding: 0.4rem;
    margin: 0 0.4rem;
    font-size: 1.2rem;
    width: 100%;
  }
}