
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1, .px-1 {
  padding-left: 1rem;
}

.pr-1, .px-1 {
  padding-right: 1rem;
}

.pl-1, .px-1 {
  padding-left: 1rem;
}

.pr, .px {
  padding-right: 0.5rem;
}