@import 'variables';
@import 'global';
@import 'text';
@import 'margin';
@import 'padding';
@import 'forms';


// Utilites

.container {
  max-width: 1200px;
  margin: 6rem auto 3rem;
  overflow: hidden;
  padding: 0 2rem;
}

.bg-dark {
  background-color: $dark-color;
  color: $light-color;
}

// Flex
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}


.btn {
  display: inline-block;
  background-color: $light-color;
  color: $dark-color;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 #ddd;
}

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    padding: 0.5rem;
    margin: 0 0.25rem;
  }
  a {
    color: $light-color;
  }
}

// Books Page
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  input {
    font-size: 1.4rem;
    border: 2px solid #aaa;
    border-radius: 5px 0 0 5px;
    padding: 0.2rem 0.4rem;
  }
  button {
    font-size: 1.4rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #aaa;
    color: #fff;
  }
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-item {
  width: 60%;
  margin: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 1px 3px 0 #bbb;
  border-radius: 3px;
  display: flex;
}

.book-details {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}